//variables
$background-col: #353643;

$primary-text-col: #ececec;

$font-family: "Roboto";

* {
  padding: 0;
  margin: 0;
}

html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background: $background-col;
  color: $primary-text-col;
  font-size: 1.2em;
  font-family: $font-family;
}

nav {
  //TODO: sort out size of links in top right
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: 0;
  height: 7.5vh;
  width: 100vw;
  background: $background-col;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    li {
      padding: 5px;
      list-style-type: none;
      margin-right: 5%;
      a {
        text-decoration: none;
        color: $primary-text-col;
        font-family: $font-family;
      }
    }
  }
}

main {
  display: grid;
  grid-template-areas:
    "main-graphic"
    "aboutme"
    "portfolio"
    "contact";
}

.main-graphic {
  grid-area: main-graphic;
  height: 100vh;
  width: 100vw;

  h1, h3 {
    margin-left: 20%;
    margin-top: 10%;
    position: fixed;
    z-index: 1;
  }

  h3 {
    margin-top: 14%;
  }

  .mountains {
    z-index: 0;
  }
}

.panel {
  padding: 15%;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 10fr;
  // box-shadow: inset 0 0 1px white; //enable to see the boundary around panels

  .panel__title {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .panel__content {
    grid-column: 2/-2;
    grid-row: 2/-2;
  }
}

.portfolio-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;

  .portfolio-item__photo {
    height: 200px;
  }

  .portfolio-item__description {
    padding: 1%;
    p {
      font-family: $font-family;
    }
    h4 {
      margin-bottom: 1%;

    }
  }
}

.portfolio-item:nth-of-type(2n) {
  flex-direction: row-reverse;
}

.flex-flipped {
  flex-direction: row-reverse;
}

#aboutme {
  grid-area: aboutme;
}

#porfolio {
  grid-area: portfolio;
}

#contact {
  grid-area: contact;
}
