html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

.panel {
  min-height: 100vh;
  height: fit-content;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  h2 {
    margin-bottom: 40px;
  }
}

.portfolio__visual {
  display: flex;
  flex-direction: column;

  .horizontal-line {
    width: 80%;
    height: 1px;
  }
  .portfolio__visual__img {
    width: 100%;
    object-fit: contain;
    min-height: 20vh;
    max-height: 25vh;
  }
  .portfolio__visual__icons {
    display: flex;
    justify-content: center;

    i {
      margin: 5px 10px;
      font-size: 2em;
    }
  }
}

.portfolio__item {
  display: flex;
  flex-direction: row;
  padding: 0;
  padding-bottom: 20px;
  margin-bottom: 50px;
  // border-bottom: 1px solid white;
}

.portfolio__item:nth-of-type(2n) {
  flex-direction: row-reverse;
}

.name-tagline {
  position: absolute;
  top: 15%;
  left: 15%;
  z-index: 1;
  text-shadow: 1px 1px #343A40;
}

.down-chevron {
  position: absolute;
  top: 90%;
  width: 100%;
  font-size: 70px;
  z-index: 1;
  text-align: center;
  a {
    color: #f8f9fa;
  }
}

footer {
  text-align: center;
  padding-bottom: 25px;
}

.links {
  text-align: center;
}

.calendly-inline-widget {
  position: relative;
  min-width:320px;
  min-height:750px;
}

@media only screen and (max-width: 768px) {
  nav {
    background: none;
    display: flex;
    flex-direction: row;
  }

  .portfolio__visual__icons {
    font-size: 1em;
    padding-bottom: 20px;
  }

  #contact {
    min-width:320px;
    min-height:750px;
    height: fit-content;
  }
  
  .calendly-inline-widget {
    position: relative;
    min-width:320px;
    min-height:750px;
  }
}


@media only screen and (max-width: 768px) {
  nav {
    font-size: 0.8em;
  }
}